{% extends 'base.html.twig'%}
{% block body %}

<div style="font-weight: bold;">Vous êtes dans la liste des formations auxquelles vous êtes inscrit :</div> </br></br>
{% if (message) %}
    {{ message }}
{%endif%}

<button> <a href="{{path('app_AccueilVisit')}}">Retour aux formations</a>  </button>
</br></br>

<div id="conteneur" style = "display: flex; flex-wrap: wrap; justify-content: space-around;">
{%for inscription in ensInscriptions%}
<div name = "element" margin="10,10,10,10" >
<table border="1" margin="10,10,10,10" class="table table-bordered table-striped table-grey" style="background-color: white; border-collapse: separate; border-radius: 7px; padding: 15px; ">
    <thead>
        <tr>
            <th colspan=2 scope="col"> <b>Id de la formation : {{ inscription.formation.id }}</b> </th>
        </tr>    
    <thead>
    <tbody>
        <tr>
            <td scope="row"> id produit </td> 
            <td> {{ inscription.formation.Produit.libelle }} </td>
        </tr>
        <tr>
            <td scope="row"> date debut  </td>
            <td> {{ inscription.formation.dateDebut|date("m/d/Y") }}  </td>
        </tr>
        <tr>                   
            <td scope="row"> nb heure  </td>
            <td> {{ inscription.formation.nbreHeures }}  </td>
        </tr>
        <tr> 
            <td scope="row"> departement  </td>
            <td> {{ inscription.formation.departement }}  </td>
        </tr>
        <tr> 
            <td scope="row"> ville  </td>
            <td> {{ inscription.formation.ville }} </td>
        </tr>
        <tr> 
            <td scope="row"> statut  </td>
            <td> {{ inscription.statut }} </td>
        </tr>
    </tbody>
</table>
</div>

{% endfor %}
</div>
{% endblock %}

        